[Desktop Entry]
Name=KDEhourlyfoxes
Name[ar]=KDEhourlyfoxes
Name[ca]=KDEhourlyfoxes
Name[ca@valencia]=KDEhourlyfoxes
Name[cs]=KDEhourlyfoxes
Name[da]=KDEhourlyfoxes
Name[de]=KDEhourlyfoxes
Name[en_GB]=KDEhourlyfoxes
Name[es]=KDEhourlyfoxes
Name[et]=KDEhourlyfoxes
Name[eu]=KDEhourlyfoxes
Name[fi]=KDEhourlyfoxes
Name[fr]=KDEhourlyfoxes
Name[gd]=KDEhourlyfoxes
Name[gl]=KDEhourlyfoxes
Name[hu]=KDEhourlyfoxes
Name[ia]=KDEhourlyfoxes
Name[id]=KDEhourlyfoxes
Name[it]=KDEhourlyfoxes
Name[ko]=KDEhourlyfoxes
Name[lt]=KDEhourlyfoxes
Name[nb]=KDEhourlyfoxes
Name[nl]=KDEhourlyfoxes
Name[nn]=KDEhourlyfoxes
Name[pl]=KDEhourlyfoxes
Name[pt]=KDEhourlyfoxes
Name[pt_BR]=KDEhourlyfoxes
Name[ru]=KDEhourlyfoxes
Name[sk]=KDEhourlyfoxes
Name[sl]=KDEhourlyfoxes
Name[sr]=KDEhourlyfoxes
Name[sr@ijekavian]=KDEhourlyfoxes
Name[sr@ijekavianlatin]=KDEhourlyfoxes
Name[sr@latin]=KDEhourlyfoxes
Name[sv]=KDEhourlyfoxes
Name[tg]=KDEhourlyfoxes
Name[tr]=KDEhourlyfoxes
Name[uk]=KDEhourlyfoxes
Name[x-test]=xxKDEhourlyfoxesxx
Name[zh_CN]=KDEhourlyfoxes
Name[zh_TW]=KDEhourlyfoxes
Comment=

Type=Service
Icon=plasma
X-KDE-ServiceTypes=Plasma/Wallpaper

X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=org.kde.plasma.kdehourlyfoxes
X-KDE-PluginInfo-License=LGPL-2.1+
X-KDE-PluginInfo-Version=%{VERSION}
X-KDE-PluginInfo-Website=https://plasma.kde.org/
X-Plasma-MainScript=ui/main.qml
